body{
    background-color: lightblue;
}

div{
    font-size:20px;
}

h2{
    text-decoration: underline;
}

p:nth-child(2){
    color: navy;
}

p:nth-child(3){
    text-transform: uppercase;
}

span{
    font-style: italic;
}